.container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 4px solid transparent;
    font-weight: bold;
    box-shadow: 2px 1px 2px #ff2600;
    transition: all 0.4s ease-out;
    animation: latir 1s infinite;

}

.button:hover {
    background: linear-gradient(to right, #6441ff, #ff2600);
    -webkit-background-clip: text;
    /* Para navegadores WebKit (Safari, Chrome) */
    background-clip: text;
    color: transparent;
    cursor: pointer;
}

.buttonOff {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    background: var(--alter-bg-color);
    transition: all 0.4s ease-out;
}

.buttonOff:hover {
    background-position: right;
}

@keyframes latir {
    0% {
        transform: scale(1);

    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}