.container {
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5rem 1rem;
    border-radius: 5px;
    gap: 3rem;
}

.tech {
    display: grid;
    place-items: center;
    width: 120px;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.301);
    border-radius: 5px;
}

.tech_content_item {
    display: grid;
    place-items: center;
    text-align: center;
}

.tech:hover {
    background: linear-gradient(120deg, transparent 30%, #cceeffca 38%, #cceeffca 40%, transparent 48%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: mirror 1s infinite;
    box-shadow: 0 0 220px rgb(255, 255, 255);
}

.name {
    font-size: 1rem;
}

@keyframes mirror {
    100% {
        background-position: -100% 0;
    }
}