.gallery {
    display: flex;
    justify-content: center;
    min-height: 50vh;
}

.container {
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    gap: 7rem;
    width: 100%;
}

.projects_container {
    width: 100%;
    display: flex;
    justify-content: center;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    gap: 2rem;
}


.card {
    position: relative;
    display: grid;
    place-items: center;
    height: 401px;
    width: 300px;
    z-index: 1;
    padding: 0 1rem;
    border-radius: 16px;
    border: 1px solid;
    transition: all 0.6 cubic-bezier(.23, 1, .320, 1);
}

.card:hover {
    background: linear-gradient(120deg, transparent 30%, #cceeffca 38%, #cceeffca 40%, transparent 48%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: mirror 1s infinite;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.web svg {
    color: lightskyblue;
}

.mobile svg {
    color: lightgreen;
}

.others svg {
    color: lightcoral;
}

.card_content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info {
    width: 100%;
    height: 50%;
    display: grid;
    place-content: center;
    text-align: center;
    gap: 1rem;
}

.info span:last-child {
    font-size: 13px;
    line-height: 1.5rem;
}

.card_content svg {
    font-size: 47px;
    line-height: 2rem;
}

.btn_more {
    display: flex;
    align-items: center;
}

.btn_more:hover {
    color: var(--focuse-color);
}




.notables {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.title_projects {
    text-align: center;
    font-size: 2rem;
    text-transform: capitalize;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-color);
}

.notable_projects {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 5rem;
}

.card_notable {
    width: 610px;
    height: 348px;
    border-radius: 12px;
    background: var(--secondary-color);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.image {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
    border-radius: 12px;

}



.btn_container {
    top: 0;
    height: 100%;
    width: 5rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    line-height: 2rem;
    z-index: 1;
    transform: translateX(-100%);
    transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.links {
    display: flex;
    gap: 2rem;
    height: 2rem;
    padding-left: .5rem;
}

.links:hover {
    border-top-left-radius: 25px;
    background: var(--secondary-color);
}

.card_notable:hover .btn_container {
    transform: translateX(0);
    background: var(--alter-color);
    background-color: rgb(7, 91, 119);
}

.card_notable:hover .image {
    filter: blur(2px);
}

@keyframes mirror {
    100% {
        background-position: -100% 0;
    }
}

@media only screen and (min-width: 768px) {

    /* .projectsContainer {
        padding: 4rem;
    }

    .projectsContainer .card {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    .projectsContainer .card:nth-child(2n) {
        display: flex;
        flex-direction: row-reverse;
        text-align: right;
    } */
}