.heart {
  position: relative;
  min-width: none;width: 1px;
  height: auto;
   transform: scale(1);
  transform: rotate(40deg); 
  animation: heartbeat 1s infinite;
}

  @keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.9);
    }
  }