.container,
.header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header {
    align-items: center;
    max-width: 1600px;
}

.logoImg {
    object-fit: none;
    border-radius: 50%;
}

.nav {
    display: none;
}

.nav_btn {
    cursor: pointer;
}

.nav {
    position: fixed;
    top: -100vh;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: var(--text-color);
    transition: 1s;
    padding-right: 1rem;
}

.responsive_nav {
    display: flex;
    transform: translateY(100vh);
    background-color: var(--secondary-color);
    border-bottom: 2px solid var(--text-color);
    height: 100%;
    z-index: 999;
}

.nav a {
    margin: 0.3rem 0;
    padding: .5rem;
    width: 7rem;
    position: relative;
    font-weight: bold;
}

.nav a:hover {
    letter-spacing: 2px;
    color: var(--title-color);
    transition: .5s;
}

.nav a:first-child{
    color: var(--title-color);
}

.nav .nav_close_btn {
    position: absolute;
    top: 2rem;
    right: 2rem;

}

@media only screen and (min-width: 768px) {
    .nav {
        top: 0;
        position: relative;

        flex-direction: row;
        justify-content: flex-end;
        gap: 1rem;
        transition: 0s;
    }

    .nav a {
        margin: 0;
        padding: 0.5rem 0;
        width: auto;
    }

    .nav_btn {
        display: none;
    }

    .responsive_nav {
        display: flex;
        transform: translateY(0vh);
    }
}