.about {
    display: flex;
    justify-content: center;
    margin: 0 1rem;
}

.container,
.imgContainer,
.figure,
.infoContainer {
    display: flex;
    flex-direction: column;
}


.container {
    max-width: 1600px;
    gap: 7rem;
    width: 100%;
}

.imgContainer {
    gap: 1rem;
}

.infoContainer p {
    line-height: 2.3rem;
}

.imgContainer figure {
    text-align: center;
}

.name {
    font-size: 1.4rem;
}

.image {
    border-radius: 5px;
    overflow: hidden;
}

.figure {
    gap: .1rem;
    padding: 1rem;
}

.second {
    flex: 1;
}

.infoContainer {
    gap: 2rem;
    padding: 1rem;
}


@media only screen and (min-width: 768px) {
    .main {
        display: flex;
        flex-direction: row;
        padding: 0 2rem;
    }

    .imgContainer {
        width: 40%;
        justify-content: space-around;
    }

    .infoContainer {
        width: 60%;
    }

    .image {
        width: 100%;
        height: auto;
        border-radius: 0;
        overflow: hidden;
    }

    .figure {
        gap: .2rem;
        padding: 1rem;
    }

}