.container {
    display: inline-flex;
    list-style: none;
    height: auto;
    width: 100%;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    padding: 1.5rem 0;
}

.icon {
    position: relative;
    font-size: 1rem;
    display: grid;
    padding: 6px;
    margin: 0 6px;
    place-content: center;
    cursor: pointer;
    border: 1px solid var(--focuse-color);
    border-radius: 50%;
    transition: all 0.2s;
}

.icon:hover {
    background-image: var(--border-gradient-focuse);
    color: #fff;
}


@media only screen and (min-width: 548px) {
    .container .icon {
        margin: .3rem;
        padding: .7rem;
        font-size: 1.2rem;
    }
}